/* Esse módulo contém códigos do Curso React
do canal no Youtube "Matheus Battisti"
Playlist do curso:
https://www.youtube.com/playlist?list=PLnDvRpP8BneyVA0SZ2okm-QBojomniQVO
*/

.newproject_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newproject_container h1 {
    margin-bottom: 0.5em;
}

.newproject_container p {
    color: #7b7b7b;
}
