/* Esse módulo contém códigos do Curso React
do canal no Youtube "Matheus Battisti"
Playlist do curso:
https://www.youtube.com/playlist?list=PLnDvRpP8BneyVA0SZ2okm-QBojomniQVO
*/

.form {
    width: 100%;
    margin: 2em 0;
}
