/* Esse módulo contém códigos do Curso React
do canal no Youtube "Matheus Battisti"
Playlist do curso:
https://www.youtube.com/playlist?list=PLnDvRpP8BneyVA0SZ2okm-QBojomniQVO
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body, #root {
    background-color: #efefef;
    height: 100%;
}
